
1) 123 rəqəmini string/character ə çevirin və tipini yoxlayın.

In [1]:
eded = 123
setr = str(eded)
print(type(setr))

<class 'str'>

2) 19.99 dəyərini tam ədədə çevirin və nəticəni çap edin.

In [2]:
eded = 19.99
print(int(eded))

19

3) "500" dəyərini numericə çevirin və 2-yə bölüb nəticəni çap edin.

In [3]:
setr = "500"
eded = int(setr)
print(eded/2)

250.0

4) a = 8 və b = 12 yaradın. a < b və a == b şərtlərini yoxlayın, nəticələri çap edin.

In [4]:
a = 8
b = 12
if a < b:
    print("a < b")
elif a == b:
    print("a == b")

a < b

5) x = 5, y = 10, z = 15 yaradın. (x < y) and (y < z) şərtini yoxlayın və nəticəni çap edin.

In [7]:
x = 5
y = 10
z = 15
if x <  y < z:
    print("x < y < z")
    print("Her sey zordu")

x < y < z
Her sey zordu

6) 25-i 4-ə bölün. Tam bölmə, qalıq və adi bölmə nəticələrini çap edin.

In [10]:
print("Tam bolme: 25//4 =", 25//4 )
print("Qaliq: 25%4 =", 25%4 ) 
print("Adi bolme: 25/4 =", 25/4)

Tam bolme: 25//4 = 6
Qaliq: 25%4 = 1
Adi bolme: 25/4 = 6.25

7) 3-ü 4-cü dərəcəyə qaldırın və nəticəni çap edin.

In [11]:
print(3**4)

81

8) qiymet = 75.5 yaradın. Onu tam ədədə çevirin və tipini yoxlayın.

In [12]:
qiymet = 75.5
print(type(int(qiymet)))

<class 'int'>

9) n = 20 yaradın. (n > 10) or (n < 5) və (n > 15) and (n < 25) şərtlərini yoxlayın, nəticələri çap edin.

In [13]:
n = 20
if  (n > 10) or (n < 5):
    print("n 10-dan boyuk ve ya 5-den kicikdir")
elif (n > 15) and (n < 25):
    print("n 15-den boyuk ve 25-den kicikdir")

n 10-dan boyuk ve ya 5-den kicikdir

10) "42.8" dəyərini əvvəl float-a, sonra tam ədədə çevirin və hər addımda tipi yoxlayın.

In [14]:
eded = 42.8
print(type(float(eded)))
print(type(int(eded)))

<class 'float'>
<class 'int'>